
*
{
    padding:0px;
    margin:0px;
}

body
{
   /*#ebf2ff*/
   background-color:rgba(122,209,231,0.908) !important;
}

.add__new__btn__mobile__only
{
    position: fixed;
    bottom:0;
    right:0;
    padding:15px 12px;
    background-color: white;
    width:100%;
}

/*It is optional since we have bootstrap*/
@media (min-width:768px)
{
    .add__new__btn__mobile__only
    {
        display:none;
    }
}
